<div class="container p-3 my-3 bg-primary text-white">
    <p>Doc Brown</p>
    <div [formGroup]="form">
        <sc-input label="Carta para el doc" formControlName="controlDoc"></sc-input>
        <div class="text-left">
            <sc-button type="primary"(onClick)="sendMessage(form.controls.controlDoc.value)">Enviar Carta</sc-button>
        </div>
        <div class="text-right">
            <sc-button type="primary" (onClick)="viewMessage()">Mostrar Carta</sc-button>
        </div>
        <h3 *ngIf="messageToMarty">{{messageToMarty}}</h3>
    </div>
</div>